.title{
  margin-top: 1em;
  font-size: 3em;
  text-align: center;
}
.list{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.prodContainer{
  display: grid;
  grid-template-columns: 8em 3fr 1fr;
  border: 1px solid #aaa;
  border-radius: 20px;
  gap: 1em;
  padding: .5em;
  text-decoration: none;
  color:#000;
}

.prodimage{
  width: 8em;
  border-radius: 10px;
}

.info{
  display: grid;
  grid-template-columns: 10em 8em 9em;
  justify-content: space-between;
  gap: 1em;
  height: 8em;
}

.info h3{
  font-size: 2em;
}

.info span{
  font-size: 1.5em;
}

.emptyCart{
  text-align: center;
  color:#5a5a5a;
}

.totalContainer{
  position: fixed;
  background-color: rgba(219, 217, 217, 0.77);
  height: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2em 2em 0 0;
  border: 2px solid #000;
  /* resto 15em*2 del padding y 4em*2 del border de appContainer */
  width: calc(100% - 38em);
  top: calc(100vh - 10em);
}

.totalContainer span{
  font-size: 2em;
}

.totalContainer button{
  border-radius: 15px;
  border: 2px solid #000;
  background-color: #75d402;
  font-size: 1.4em;
  width: 7.8em;
  height: 2em;
  cursor: pointer;
}

.trashIcon{
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: flex;
  margin-left: auto;
}

@media only screen and (max-width:1280px){
  .prodimage{
    width: 14em;
  }
  
  .prodContainer{
    grid-template-columns: 14em 3fr 1fr;
  }

  .info{
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .totalContainer{
    /* resto 1em*2 del padding y 2em*2 del border de appContainer */
    width: calc(100% - 6em);
  }
}

@media only screen and (max-width:768px){
  .prodimage{
    width: 4em;
  }
  .prodContainer{
    grid-template-columns: 4em 3fr 1fr;
    height: 5em;
  }
  .info{
    gap: 0;
  }
	.info h3 {
    font-size: 1.2em;
  }
	.info span {
    font-size: 1em;
  }
  .totalContainer{
    /* resto 1em*2 del border de appContainer */
    width: calc(100% - 2em);
    height: 6em;
    /* resto 1em*2 del border de appContainer y 4em del nav */
    top: calc(100vh - 6em);
  }
}

@media (hover:hover){
  .totalContainer button:hover{
    background-color: #68bd01;
  }
  .totalContainer button:active{
    background-color: #4f9000;
  }
  .trashIcon:hover{
    transform: scale(1.1);
  }
}