.footerTextContainer{
  padding-top: 2em;
  text-align: center;
  margin-top: auto;
  font-size: 1.2em;
}

@media only screen and (max-width:1280px){
  .footerTextContainer{
    font-weight: bold;
  }
}

@media only screen and (max-width:768px){
  .footerTextContainer{
    font-size: 1em;
  }
}